//font-family: 'Bebas Neue', cursive;
//font-family: 'Oswald', sans-serif;
//font-family: 'Lato', sans-serif;
@import "src/scss/mixins";

.cst-wp {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  @include lg {
    padding: 0 15px;
  }
}

.cst-section {
  &-first {
    background: url("/assets/img/bg1.jpg") center no-repeat;
    background-size: cover;
    height: 100%;

    @include lg {
      padding-left: 0;
      background-position-x: 40%;
    }
  }

  &-second {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: url("/assets/img/bg2.jpg") center no-repeat;
    background-size: cover;
    min-height: 900px;
    height: 100%;
    padding-top: 60px;
  }

  &-third {
    height: 100%;
    max-height: 786px;
    overflow: hidden;
  }
}

.cst-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;
  padding-left: 23px;

  @include lg {
    padding-left: 0;
  }

  figcaption {
    line-height: 18px;
    padding-left: 10px;

    span {
      display: block;
    }
  }

  &--footer {

  }
}

.cst-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 15px 0 15px;

  @include lg {
    padding: 15px;
  }

  &-wp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav {

    &-item {
      color: #fefeff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 12px;
      text-decoration: underline;
      text-transform: uppercase;
      margin-left: 50px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-logo {
    color: #414f6b;
    text-decoration: none;

    figcaption {
      display: none;
    }
  }

  &.active {
    background: #ffffff;
  }

  &.active & {
    &-nav {

      &-item {
        color: #414f6b;
      }
    }

    &-logo {
      figcaption {
        display: block;

        @include md {
          display: none;
        }
      }
    }
  }
}

.cst-text {
  padding: 0 0 15px;

  @include lg {
    padding: 15px;
  }

  &-title {
    color: #414f6b;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1;

    span {
      opacity: 0.5;
      font-size: 136px;
    }

    b {
      position: relative;
      top: -29px;
      left: -29px;
    }
  }

  &-info {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0 0 0 70px;

    @include lg {
      padding: 0;
    }
  }


  &.isThirdSection {
    display: flex;
    align-items: center;

    @include lg {
      display: block;
      align-items: initial;
    }
  }

  &.isThirdSection &-info {
    padding: 0;
  }
}

.cst-carousel {
  background: rgba(65, 79, 107, 0.7);
  padding: 25px 25px 5px;

  &-item {
    width: 220px;
    height: 135px;
  }
}

.cst-tabs {
  background: #414f6b;
  height: 100%;

  &-item {
    display: inline-block;
    color: #b0b4be;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;

    &.active {
      background: #b0b4be;
      color: #414f6b;
      text-decoration: underline;
    }
  }

  &-body {
    background-size: cover !important;
    height: 100%;
    display: none;
    padding-top: 100px;

    &.active {
      display: block;
    }
  }
}

.cst-info {
  background: rgba(255, 255, 255, 0.71);
  padding: 20px 40px;
  max-width: 350px;
  width: 100%;

  @include lg {
    margin: 0 auto;
  }

  &-title {
    color: #414f6b;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 6px 0;
    min-height: 19px;
  }
}

.cst-footer {
  background: #414f6b;
  padding: 15px 0 15px;

  &-wp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
      flex-flow: column;
    }
  }

  &-logo {
    color: #63769d;
    text-decoration: none;
  }

  &-copy {
    color: #63769d;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 12px;

    @include md {
      margin-top: 15px;
    }
  }
}



