<section class="cst-section-first">
  <header #header class="cst-header">
    <div class="cst-wp cst-header-wp">
      <a href="#" class="cst-header-logo">
        <figure class="cst-logo">
          <img src="./assets/img/logo.png" alt="logo">
          <figcaption><span>losangeles</span><span>mountains</span></figcaption>
        </figure>
      </a>
      <nav class="cst-header-nav">
        <a (click)="onScrollTo($event, secondSection)" class="cst-header-nav-item" href="#">01. history</a>
        <a (click)="onScrollTo($event, thirdSection)" class="cst-header-nav-item" href="#">02. team</a>
      </nav>
    </div>
  </header>
</section>

<section #secondSection class="cst-section-second">
  <div class="cst-text cst-wp">
    <h2 class="cst-text-title"><span>01.</span><b>history</b></h2>
    <h3 class="cst-text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ante viverra, rutrum erat rutrum, consectetur mi. Proin at maximus est. Nullam purus ex, iaculis sed erat sed, blandit tincidunt quam. Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue</h3>
  </div>

  <div class="cst-carousel">
    <div class="cst-wp">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide2"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide2"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide1.jpg" alt="slide1"></ng-template>
        <ng-template carouselSlide><img class="cst-carousel-item" src="./assets/img/slide2.jpg" alt="slide1"></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section #thirdSection class="cst-section-third">
  <div class="cst-text isThirdSection cst-wp">
    <h2 class="cst-text-title"><span>02.</span><b>climb</b></h2>
    <h3 class="cst-text-info">Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue. </h3>
  </div>

  <div class="cst-tabs">
    <div class="cst-wp">
      <a (click)="onTabChange($event, tab)" *ngFor="let tab of tabs" [class.active]="tab.isActive" class="cst-tabs-item" href="#">{{tab.name}}</a>
    </div>

    <div
      *ngFor="let tab of tabs"
      [class.active]="tab.isActive"
      [ngStyle]="{'background': tab.bgUrl}"
      class="cst-tabs-body">
      <div class="cst-wp">
        <div class="cst-info">
          <h2 class="cst-info-title">SCHEDULE</h2>
          <p *ngFor="let item of tab.dates" class="cst-info-item">
            <span>{{item.date}}</span>
            <span>{{item.title}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="cst-footer">
  <div class="cst-wp cst-footer-wp">
    <a href="#" class="cst-footer-logo">
      <figure class="cst-logo cst-logo--footer">
        <img src="./assets/img/logo.png" alt="logo">
        <figcaption><span>losangeles</span><span>mountains</span></figcaption>
      </figure>
    </a>

    <p class="cst-footer-copy">COPYRIGHT 2016. ALL RIGHTS RESERVED.</p>
  </div>
</footer>

