.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background: #626c7f;
  margin: 5px 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}
