/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'scss/owerride/owl';
@import 'scss/mixins';


html, body {
  height: 100%;
  margin: 0;
}

figure {
  margin: 0;
  img {
    vertical-align: middle;
  }
}

h2, h3, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
