$screen-md: 675;
$screen-lg: 960;

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg}px) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md}px) {
        @content;
    }
}
